/* General Styles */
body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f0e6d6; /* Warna dasar coklat muda */
}

header {
    background-color: #6b4423; /* Warna coklat gelap */
    color: #fdf1e1; /* Warna krem untuk teks */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.topnav {
    margin: 10px 0;
    text-align: center;
}

.topnav a {
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    background-color: #8c5a38; /* Coklat gelap */
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #b77f5c; /* Warna coklat lebih terang */
}

.container {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff6eb; /* Krem lembut */
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1, h2 {
    color: #6b4423; /* Coklat gelap */
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.biodata-foto-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.biodata-section {
    flex: 1;
    padding-right: 20px;
}

.foto-profil-section {
    text-align: center;
}

.foto-profil-section img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #6b4423; /* Coklat gelap */
}

.youtube-thumbnails {
    display: flex;
    justify-content: space-around;
}

iframe {
    width: 100%;
    height: 200px;
}

.youtube-thumbnail {
    flex: 1;
    margin: 10px;
}

@media (max-width: 768px) {
    .biodata-foto-container {
        flex-direction: column;
        align-items: center;
    }

    .biodata-section {
        padding-right: 0;
        text-align: center;
    }

    iframe {
        height: 150px;
    }
}

/* Konten tambahan */
.video-section h1 {
    text-indent: 35px;
    color: #6b4423; /* Coklat gelap */
    font-family: 'Georgia', serif;
    font-size: 1.5em;
}

.img-portofolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

iframe {
    margin: 10px;
    border: 2px solid #b77f5c; /* Coklat terang */
    border-radius: 5px;
}

.contact {
    text-align: center;
    margin: 40px 0;
}

.contact h2 {
    color: #6b4423;
    font-size: 1.5em;
}

.contact p {
    font-size: 1.1em;
    color: #555;
}
